<div class="academyI">
    {{#if errorMessage}}
        <section class="academyI__error">
            <i class="fas fa-exclamation-triangle academyI__errorIcon"></i>
            <h1 class="academyI__errorName">{{errorMessage}}</h1>
        </section>
    {{else}}
        <section class="academyI__major">
            <i class="fas fa-tools academyI__majorIcon"></i>
            <h2 class="academyI__majorName">
                {{majors.[0]}}
            </h2>
        </section>
        <section class="academyI__major">
            <i class="fas fa-laptop-code academyI__majorIcon"></i>
            <h2 class="academyI__majorName">
                {{majors.[1]}}
            </h2>
        </section>
        <section class="academyI__major">
            <i class="fas fa-carrot academyI__majorIcon"></i>
            <h2 class="academyI__majorName">
                {{majors.[2]}}
            </h2>
        </section>
        <section class="academyI__major">
            <i class="fas fa-flag academyI__majorIcon"></i>
            <h2 class="academyI__majorName">
                {{majors.[3]}}
            </h2>
        </section>
        <section class="academyI__major">
            <i class="fas fa-hand-holding-usd academyI__majorIcon"></i>
            <h2 class="academyI__majorName">
                {{majors.[4]}}
            </h2>
        </section>
        <section class="academyI__major">
            <i class="fas fa-user-shield academyI__majorIcon"></i>
            <h2 class="academyI__majorName">
                {{majors.[5]}}
            </h2>
        </section>
        <section class="academyI__major">
            <i class="fas fa-diagnoses academyI__majorIcon"></i>
            <h2 class="academyI__majorName">
                {{majors.[6]}}
            </h2>
        </section>
        <section class="academyI__major">
            <i class="fas fa-music academyI__majorIcon"></i>
            <h2 class="academyI__majorName">
                {{majors.[7]}}
            </h2>
        </section>
        <section class="academyI__major">
            <i class="fas fa-user-nurse academyI__majorIcon"></i>
            <h2 class="academyI__majorName">
                {{majors.[8]}}
            </h2>
        </section>
        <section class="academyI__major">
            <i class="fas fa-dumbbell academyI__majorIcon"></i>
            <h2 class="academyI__majorName">
                {{majors.[9]}}
            </h2>
        </section>
    {{/if}}
</div>